body {
	background-color: rgba(120, 177, 150);	
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

legend {
	font-size:20;
	color:darkblue;
}

label {
	color: rgb(255, 255, 222);
}

form {
	font-size: 1.4em; 
}

button, input {
	font-size: 1.2em; 
}


#fname {
	max-width: 200;
}