
body {
	background-color: lightgreen;	
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


form {
	font-size: 1.4em; 
}

button, input {
	font-size: 1.2em; 
}


#fname {
	max-width: 200;
}
